@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body{
    background: #000000;
}
.year{
    display: none;
    animation-name: kants;
    animation-duration: 2s;
}
.logo{
    position: absolute;
    left: 44%;
    /* top: %; */
    width: 20%;
}
.hny{
    position: absolute;
    left: 13%;
    /* top: 2%; */
    width: 75%;
}
.time{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 900%;
    margin-left: 8%;
    margin-top: 25%;
}
@keyframes kants {
    from {
        opacity: 0%;
        display: none;
    }
    to {
        opacity: 100%;
        display: block;
    }
}
.det{
    color: #ffffff;
    position: absolute;
    top: 55%;
    left: 20%;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}